.header {
  width: 100%;
  height: 60px;
}
.header .center_wrap {
  height: 60px;
  background-color: #eeeff3;
}
.header .center_wrap .header_left {
  font-family: "PingFangSCRegular";
  float: left;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  color: black;
  text-align: center;
  font-weight: 500;
  line-height: 60px;
  font-size: 30px;
  background-color: #5e7698;
}
.header .center_wrap .header_right {
  float: right;
}
.header .center_wrap .header_right li {
  float: left;
  height: 60px;
  margin-right: 10px;
  line-height: 60px;
  color: black;
  font-size: 14px;
}
.header .center_wrap .header_right li a {
  font-weight: 800;
  color: black;
}
.header .center_wrap .header_right li a:hover {
  color: #57739b;
}
.header .center_wrap .header_right li:last-child {
  margin-left: 30px;
  margin-right: 0px;
  width: 60px;
}
.header .center_wrap .header_right li:last-child a {
  display: block;
  margin-top: 2px;
  margin-left: 4px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
  box-sizing: border-box;
}
.header .center_wrap .header_right li:last-child a img {
  width: 54px;
  height: 54px;
}
.banner {
  width: 960px;
  height: 160px;
  margin: 10px auto;
}
.banner .center_wrap {
  height: 160px;
  background-color: #eeeff3;
  padding: 20px;
  box-sizing: border-box;
  line-height: 23px;
}
.banner .center_wrap h1 {
  color: #57739b;
  font-weight: bold;
  font-size: 23px;
}
.banner .center_wrap p {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
}
.introduction {
  width: 960px;
  margin: auto;
  height: 300px;
}
.introduction .center_wrap .left {
  float: left;
  width: 240px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  background-color: #eeeff3;
}
.introduction .center_wrap .left h1 {
  display: block;
  font-weight: bold;
  height: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}
.introduction .center_wrap .left ul {
  margin-top: 20px;
}
.introduction .center_wrap .left ul li {
  width: 220px;
  height: 24px;
  margin-bottom: 10px;
}
.introduction .center_wrap .left ul li p {
  display: block;
  width: 100px;
  height: 24px;
  line-height: 24px;
  text-align: right;
  float: left;
}
.introduction .center_wrap .left ul li .box {
  float: left;
  margin-left: 8px;
  width: 100px;
  height: 24px;
  background-color: #6496b7;
}
.introduction .center_wrap .right {
  float: left;
  width: 710px;
  height: 300px;
  background-color: #eeeff3;
}
.introduction .center_wrap .right .tab {
  width: 710px;
  height: 30px;
}
.introduction .center_wrap .right .tab .nav_jy {
  float: left;
  width: 354px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  border-right: 1px solid #ccc;
  cursor: default;
}
.introduction .center_wrap .right .tab .nav_jy:hover {
  color: #57739b;
}
.introduction .center_wrap .right .tab .nav_gz {
  float: left;
  width: 355px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  cursor: default;
}
.introduction .center_wrap .right .tab .nav_gz:hover {
  color: #57739b;
}
.introduction .center_wrap .right .content {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.introduction .center_wrap .right .content ul li {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
.introduction .center_wrap .right .content ul li:last-child {
  margin-bottom: 0px;
}
.introduction .center_wrap .right .content ul li span {
  display: block;
  float: left;
  width: 100px;
  height: 50px;
  margin-right: 20px;
}
.introduction .center_wrap .right .content ul li p {
  display: block;
  float: left;
  width: 570px;
  height: 50px;
}
.project {
  width: 100%;
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.project .content {
  width: 100%;
  height: 450px;
}
.project .content li {
  position: relative;
  width: 100%;
  height: 150px;
}
.project .content li:nth-child(2n+1) {
  background-color: #eeeff3;
}
.project .content li .center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  height: 150px;
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
}
.project .content li .center .demo {
  float: left;
  width: 120px;
  height: 150px;
}
.project .content li .center .demo .logo {
  width: 110px;
  height: 110px;
  margin-top: 30px;
  border: 2px solid #ccc;
}
.project .content li .center .xxmt {
  float: left;
  width: 834px;
  height: 150px;
  box-sizing: border-box;
}
.project .content li .center .xxmt .hd {
  width: 834px;
  height: 30px;
}
.project .content li .center .xxmt .hd h1 {
  float: left;
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #57739b;
  border-radius: 20px;
  font-weight: bold;
}
.project .content li .center .xxmt .hd p {
  float: right;
  padding-right: 10px;
  line-height: 30px;
}
.project .content li .center .xxmt .bd {
  width: 834px;
  height: 120px;
}
.project .content li .center .xxmt .bd .cen {
  padding-top: 10px;
  padding-bottom: 30px;
}
.project .content li .right {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  right: 0px;
  border: 3px solid #ccc;
  margin: 15px;
}
.interaction {
  width: 100%;
  height: 380px;
}
.interaction .center_wrap {
  width: 960px;
}
.interaction .center_wrap .pic {
  float: left;
  width: 630px;
  height: 380px;
}
.interaction .center_wrap .pic ul li {
  float: left;
  position: relative;
  width: 150px;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #eeeff3;
}
.interaction .center_wrap .pic ul li:nth-child(4n) {
  margin-right: 0;
}
.interaction .center_wrap .pic ul li img {
  width: 150px;
  height: 180px;
}
.interaction .center_wrap .pic ul li .like {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 0;
  bottom: 0;
  padding: 5px;
  box-sizing: border-box;
}
.interaction .center_wrap .pic ul li .like p {
  float: left;
  color: black;
  line-height: 30px;
}
.interaction .center_wrap .pic ul li .like span {
  float: right;
  line-height: 30px;
  color: black;
  cursor: pointer;
  user-select: none;
  animation: none;
}
.interaction .center_wrap .message {
  float: right;
  margin-left: 10px;
  width: 320px;
  height: 370px;
  background-color: #eeeff3;
}
.interaction .center_wrap .message .hd {
  width: 320px;
  height: 40px;
}
.interaction .center_wrap .message .hd p {
  width: 100px;
  height: 30px;
  margin: 5px auto;
  border-radius: 20px;
  background-color: #5e7698;
  line-height: 30px;
  text-align: center;
}
.interaction .center_wrap .message .content {
  width: 310px;
  height: 230px;
  margin-left: 5px;
  border: 2px dashed #ccc;
  overflow-y: visible;
  overflow-x: hidden;
}
.interaction .center_wrap .message .content .li {
  position: relative;
  width: 310px;
  height: 80px;
  margin-bottom: 10px;
}
.interaction .center_wrap .message .content .li:first-child .con {
  border-top: none;
}
.interaction .center_wrap .message .content .li:nth-child(2n+1) .name {
  top: 10px;
  left: 0;
}
.interaction .center_wrap .message .content .li:nth-child(2n+1) .con {
  top: 0;
  right: 0;
  border-right: none;
}
.interaction .center_wrap .message .content .li .name {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: white;
  background-color: #579b5d;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.interaction .center_wrap .message .content .li .con {
  text-indent: 1em;
  position: absolute;
  width: 235px;
  height: 78px;
  border: 2px solid #ccc;
  overflow-y: scroll;
}
.interaction .center_wrap .message .content .li:nth-child(2n) .name {
  right: 0;
}
.interaction .center_wrap .message .content .li:nth-child(2n) .con {
  left: 0;
  border-left: none;
}
.interaction .center_wrap .message .deep {
  width: 310px;
  height: 100px;
  margin-top: 5px;
  margin-left: 3px;
}
.interaction .center_wrap .message .deep .text {
  text-indent: 0.5em;
  width: 310px;
  height: 35px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}
.interaction .center_wrap .message .deep .newname {
  width: 200px;
  height: 35px;
  border: 2px solid #ccc;
  text-indent: 0.5em;
}
.interaction .center_wrap .message .deep .upload {
  width: 90px;
  height: 39px;
  margin-left: 10px;
  background-color: #57739b;
  color: #fff;
  border: none;
}
.footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #eeeff3;
}
.backtotop {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  font-size: 12px;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  color: #000;
  /* 隐藏元素 */
  display: none;
}
@keyframes move {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
